body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #fff0f5; 
}

/* Cabeçalho */
header {
    background-color: #ffb6c1; 
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border-style: dotted;
    border-width: 2px;
}

/* Menu */
nav {
    background-color: #ffc0cb;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Container */
.container {
    padding: 20px;
}

/* Inputs */
input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ffb6c1;
    border-radius: 10px;
    outline: none;
}

/* Botões */
button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff1493;
}

/* Tabela */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #ffb6c1;
    color: white;
}

td, th {
    border: 1px solid #ffd6e0;
    padding: 10px;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
